openapi: '3.0.0'
info:
  version: 1.0.0
  title: Group Giving API
  license:
    name: MIT
servers:
  - url: https://api.groupgiving.com/v1
paths:
  /groups:
    get:
      summary: List all gift groups
      operationId: listGroups
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of gift groups
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new gift group
      operationId: createGroups
      responses:
        201:
          description: Group creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}:
    get:
      summary: Retrieve details for a specific gift group
      operationId: showGroupById
      parameters:
        - name: groupId
          in: path
          required: true
          description: The unique identifier of the gift group to retrieve
          schema:
            type: string
      responses:
        200:
          description: Detailed information about the requested gift group including members and wishlists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Group:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Groups:
      type: array
      items:
        $ref: '#/components/schemas/Group'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string